.task-wrapper {
  width: 500px;
  overflow: hidden;

  .task-item-wrapper {
    box-sizing: border-box;
    position: relative;
    height: 36px;
    padding: 0 8px;
    margin-bottom: 16px;
    border-radius: 2px;
    font-size: 16px;
    color: #333;
    background: #eee;

    .check-box {
      position: absolute;
      top: 50%;
      left: 8px;
      transform: translateY(-50%);

      .completed-icon {
        color: #7b8dd8;
      }
    }

    .task-content {
      padding: 0 20px;
      line-height: 36px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      &.complete {
        color: #999;
        text-decoration: line-through;
      }
    }

    .delete-btn {
      position: absolute;
      top: 50%;
      right: 8px;
      transform: translateY(-50%);
    }
  }
}
